.holder{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}
.item1{
	height:50px;
	width:50px;
	background-color:green;
}
.item2{
	height:50px;
	width:50px;
	background-color:red;
}
.item3{
	height:50px;
	width:50px;
	background-color:blue;
}
